// TO BE REVIEWED (COMP TABLE NAME CAN CHANGE)
.comp-table {
  @apply table table-auto border-separate;
  &-container {
    @apply overflow-x-auto;
  }
  thead {
    @apply text-xs uppercase text-navy-40 dark:text-white-85;
    th {
      @apply px-2.5 pb-1 font-light dark:first:bg-navy-100;
      @media (max-width: 1024px) {
        @apply first:bg-white;
      }
    }
  }

  tbody {
    tr {
      @apply odd:bg-white-95 even:bg-white odd:hover:bg-white-85 even:hover:bg-white-85 dark:odd:bg-navy-70 dark:even:bg-navy-100;

      // Prevent hover effect on touch devices for table rows
      @media (max-width: 1024px) {
        @apply hover:bg-inherit odd:hover:bg-white-95 even:hover:bg-inherit dark:odd:hover:bg-navy-70 dark:even:hover:bg-inherit;
      }

      &:nth-child(even) {
        td {
          @apply first:odd:hover:bg-white-85 dark:first:odd:bg-navy-100;
          @media (max-width: 1024px) {
            @apply odd:bg-white dark:odd:bg-navy-100;
          }
        }
      }
      &:nth-child(odd) {
        td {
          @apply first:odd:hover:bg-white-85 dark:first:odd:bg-navy-70;
          @media (max-width: 1024px) {
            @apply odd:bg-white-95 dark:odd:bg-navy-70;
          }
        }
      }
      td {
        @apply first:px-2.5 lg:px-2.5 relative px-6 py-2 first:z-10;
        &:first-child {
          @apply after:h-[calc(100%+2px)] after:content-[''] after:absolute after:-right-6 after:top-0 after:z-10 after:block after:w-6 after:bg-gradient-to-r after:from-white-90 after:to-transparent lg:z-0 lg:after:hidden;
        }
      }

      &:last-child {
        td {
          &:first-child {
            @apply after:h-full;
          }
        }
      }
    }
  }

  &-load-more {
    @apply bg-gradient-to-t from-white dark:from-navy-70;
  }
}

div[data-bg-color="bg-white-95"] {
  .comp-table {
    thead {
      th {
        @media (max-width: 1024px) {
          @apply first:bg-white-95;
        }
      }
    }
    tbody {
      tr {
        @apply even:bg-white-90 odd:hover:bg-white-85 even:hover:bg-white-85;
        @media (max-width: 1024px) {
          @apply even:bg-white-90 odd:hover:bg-white-95 even:hover:bg-white-90;
        }
        &:nth-child(even) {
          td {
            @apply first:odd:hover:bg-white-85;
            @media (max-width: 1024px) {
              @apply odd:bg-white-90;
            }
          }
        }
        &:nth-child(odd) {
          td {
            @apply first:odd:hover:bg-white-85;
            @media (max-width: 1024px) {
              @apply odd:bg-white-95;
            }
          }
        }
      }
    }

    &-load-more {
      @apply bg-gradient-to-t from-white-95;
    }
  }
}

// Learn articles only because they have a bg-white-95 background
.learn-article {
  .comp-table {
    thead {
      th {
        @media (max-width: 1024px) {
          @apply first:bg-white-95 dark:first:bg-navy-100;
        }
      }
    }
  }
}

.load-more-cover {
  @apply h-[317px] w-full overflow-y-hidden;
}

// Default table behaviour to allow side-scrolling on
// smaller devices
table {
  * {
    border: none;
  }
  white-space: nowrap;

  tr > th:first-child,
  tr > td:first-child {
    position: sticky;
    left: 0;
  }
}

.table-container {
  @apply overflow-x-auto;
}

.custom-table {
  @apply w-full border-separate;

  th,
  td {
    @apply p-2 text-left;
  }

  th {
    @apply select-none text-center text-xxs font-light uppercase tracking-wider text-navy-40 first:bg-white first:text-left dark:text-white-85;
    &.sortable {
      @apply cursor-pointer;
    }
    .th-container {
      @apply flex items-center justify-center;
    }
    &:first-child {
      .th-container {
        @apply justify-start;
      }
    }
  }

  tbody {
    tr {
      @apply odd:bg-white-95 even:bg-white dark:odd:bg-navy-70 dark:even:bg-navy-100;

      &:hover {
        &:nth-child(odd) {
          td {
            @apply bg-white-90;
          }
        }
        &:nth-child(even) {
          td {
            @apply bg-white-90;
          }
        }
      }

      td {
        @apply whitespace-pre-wrap text-balance text-center first:whitespace-nowrap first:text-left;
        &:first-child {
          text-wrap: unset;
        }
      }

      &:nth-child(odd) {
        td {
          @apply bg-white-95;
        }
      }

      &:nth-child(even) {
        td {
          @apply bg-white;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .custom-table {
    th {
      &:first-child {
        @apply sticky left-0;
      }
    }

    th,
    td {
      @apply z-[1] min-w-[80px]; //ensure first column overlaps
    }
  }
}
